//navbar
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: $neutral-black;
  padding: 25px 0px;
  .logo {
    padding-left: 25px;
  }
  .contact {
    display: block;
    padding-right: 25px;
  }
}
.navbar-links {
  height: 100%;
  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    a {
      display: block;
      text-decoration: none;
      color: $neutral-black;
      padding: 0px 1rem;
    }
  }
}
.toggle-button {
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  display: none;
}

//hero
.hero {
  padding-bottom: 50px;
  .grid {
    .hero-left {
      padding: 25px 25px 50px 25px;
      h1 {
        padding-bottom: 15px;
      }
      p {
        padding-bottom: 25px;
      }
    }
    .hero-right {
      .splide {
        .splide__arrow {
          bottom: 0;
          top: auto;
          background-color: $neutral-black;
          backdrop-filter: blur(5px);
        }
        .splide__arrow--prev {
          right: 11%;
          left: auto;
        }
      }
      .splide-list {
        .splide__splide {
          width: auto !important;
        }
      }
    }
  }
}

//trusted
.trusted {
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    padding-bottom: 25px;
  }
}

//about-us
.about-us {
  padding: 50px 25px;
  // margin: 0px 25px;
  .about-us-left {
    display: flex;
    position: relative;
    justify-content: space-between;
    .about-us-image {
      flex: 0.5;
      margin-right: 7px;
    }
    .about-us-image1 {
      flex: 0.5;
      margin-left: 7px;
    }
    .about-us-content {
      position: absolute;
      bottom: -24%;
      left: 9%;
      background-color: $neutral-white-100;
      padding: 20px 25px 21px 29px;
      display: flex;
      hr {
        margin: 0px 26px;
      }
    }
  }
  .about-us-right {
    margin-top: 100px;
    padding: 0px 0px 0px 0px;
    h6 {
      margin-left: 20px;
    }
    h2 {
      padding-top: 15px;
    }
    p {
      padding-top: 15px;
    }
  }
}

//services
.services {
  padding: 0px 25px;
  .container div h2 {
    padding-top: 15px;
    padding-bottom: 35px;
  }
  .grid {
    row-gap: 1.5rem;
    .services-image {
      position: relative;
      h6 {
        position: absolute;
        bottom: 25px;
        left: 25px;
        color: $neutral-white;
      }
    }
  }
}
//projects
.projects {
  padding-top: 50px;
  .container {
    div:first-child {
      h6 {
        padding-left: 25px;
      }
      h2 {
        padding-top: 15px;
        padding-bottom: 35px;
      }
    }
    div:nth-child(2) {
      padding-left: 25px;
    }
    .projects-slider {
      position: relative;
      h6 {
        position: absolute;
        left: 50px;
        bottom: 120px;
        color: $neutral-white;
      }
      p:last-child {
        position: absolute;
        left: 50px;
        bottom: 40px;
        color: $neutral-white;
      }
    }
  }
}

//cta
.cta {
  background-image: url("../images/CTA.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 63vh;
  .cta-content {
    padding: 78px 0px 0px 25px;
  }
}

//testimonials
.testimonials {
  padding: 50px 25px;
  .grid {
    gap: 3.1rem;
  }
  .testimonial-content {
    h2 {
      padding: 21px 0px 40px 0px;
    }
  }
  .testimonial-card {
    background-color: $neutral-white-100;
    padding: 25px 21px 40px 25px;
    .testimonial-flex {
      display: flex;
    }
  }
}

//blog
.blog {
  padding: 50px 25px;
  h2 {
    padding: 21px 0px 35px 0px;
  }
  .grid {
    column-gap: 3.1rem;
    row-gap: 2.8rem;
    .article {
      p {
        padding-top: 15px;
      }
      h3 {
        padding-top: 15px;
      }
    }
  }
}

//footer
.footer {
  background-color: $neutral-white-100;
  padding: 50px 25px 15px 25px;
  .flex {
    display: flex;
    flex-direction: column;
    padding-bottom: 44px;
    .info {
      flex: 2;
      p {
        padding-top: 25px;
      }
      hr {
        margin: 35px 0px 50px 0px;
      }
    }
    .about {
      flex: 1;
      h5 {
        padding-bottom: 10px;
      }
      ul {
        li {
          padding-bottom: 5px;
          a {
            font-size: 14px;
            color: $neutral-black;
            text-decoration: none;
          }
        }
      }
    }
    .office {
      flex: 1;
      padding-top: 35px;
      h5 {
        padding-bottom: 10px;
      }
      ul {
        li {
          padding-bottom: 5px;
          a {
            font-size: 14px;
            color: $neutral-black;
            text-decoration: none;
          }
        }
      }
    }
    .subscribe {
      flex: 2;
      order: 2;
      display: flex;
      flex-direction: column;
      padding-top: 35px;
      padding-bottom: 40px;
      .footer-form {
        margin: 25px 0px 39px 0px;
        display: flex;
        input {
          font-size: 14px;
          line-height: 26px;
          border: none;
          border-bottom: 1px solid black;
          padding: 3px 0px 3px 5px;
          background: transparent;
          color: $neutral-black-100;
        }
        .footer-form-btn {
          background-color: $neutral-black;
          border: none;
          padding: 8px 20px 8px 20px;
        }
      }
      ul {
        display: flex;
        li {
          padding-right: 30px;
        }
      }
    }
  }
  .footer-bottom {
    text-align: center;
    p {
      padding-top: 11px;
    }
  }
}
