@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    .toggle-button {
      display: flex;
    }
    .navbar-links {
      display: none;
      width: 100%;
      margin-top: 10px;
      ul {
        width: 100%;
        flex-direction: column;
        background-color: $neutral-black;
        li {
          text-align: center;
          a {
            padding: 0.5rem 1rem;
            color: $neutral-white;
          }
        }
      }
    }
    .navbar-links.active {
      display: flex;
    }
    .contact {
      display: none;
    }
  }
}

@media (min-width: 50em) {
  h1 {
    font-size: $fs-52;
    line-height: 60px;
  }
  h2 {
    font-size: $fs-40;
    line-height: 54px;
  }
  h3 {
    font-size: $fs-32;
    line-height: 42px;
  }
  h4 {
    font-size: $fs-24;
    line-height: 32px;
  }
  h6 {
    font-size: $fs-18;
    line-height: 21px;
  }
  p {
    font-size: $fs-18;
    line-height: 24px;
  }
  .contact-btn,
  .hero-btn,
  .cta-btn {
    font-size: $fs-18;
    line-height: 19px;
  }
  .container {
    width: calc(100% - 200px);
    margin-inline: auto;
  }
  .grid {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  .navbar {
    padding: 27px 101px 27px 70px;
  }
  .hero {
    padding-bottom: 90px;
    .grid {
      grid-template-columns: repeat(2, 1fr);
      .hero-left {
        padding: 100px 63px 33px 100px;
        h1 {
          padding: 0px 0px 35px 0px;
        }
        p {
          padding-bottom: 50px;
        }
      }
      .hero-right {
        margin-top: 40px;
      }
    }
  }
  .trusted {
    flex-direction: row;
    justify-content: flex-end;
    div:first-child {
      padding-left: 75px;
      flex: 0 1 20%;
      h4 {
        padding-bottom: 0px;
      }
    }
    div:last-child {
      margin-left: 54px;
    }
  }
  .about-us {
    padding: 90px 0px;
    .grid {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4.4rem;
      .about-us-left {
        .about-us-content {
          bottom: 4%;
          left: 32%;
        }
      }
      .about-us-right {
        margin-top: 40px;
        h2 {
          padding-top: 25px;
        }
        p {
          padding-top: 35px;
        }
      }
    }
  }
  .services {
    padding: 0px;
    .container div h2 {
      padding-top: 25px;
    }
    .grid {
      column-gap: 5px;
    }
  }
  .projects {
    padding: 90px 0px;
    .container {
      div:first-child {
        padding: 0px;
      }
      div:nth-child(2) {
        padding-left: 0px;
      }
      div h2 {
        padding-top: 25px;
        padding-bottom: 35px;
      }
      .projects-slider {
        img {
          height: auto;
        }
      }
    }
  }
  .testimonials {
    padding: 0px 0px 90px 0px;
    .testimonial-content {
      h6 {
        margin-right: 20px;
      }
      h2 {
        padding: 25px 0px 35px 0px;
      }
    }
  }
  .blog {
    padding: 90px 0px 100px 0px;
    h6 {
      margin-right: 20px;
    }
    h2 {
      padding: 25px 0px 35px 0px;
    }
    .grid {
      .article {
        p {
          padding-top: 10px;
        }
        h3 {
          padding-top: 10px;
          padding-bottom: 25px;
        }
      }
    }
  }
  .footer {
    padding: 75px 0px 17px 0px;
    .flex {
      flex-direction: row;
      div:first-child {
        hr {
          display: none;
        }
      }
      .about {
        margin-left: 70px;
        ul {
          li {
            a {
              font-size: 18px;
            }
          }
        }
      }
      .office {
        margin-left: 60px;
        padding-top: 0px;
        ul {
          li {
            a {
              font-size: 18px;
            }
          }
        }
      }
      .subscribe {
        padding-left: 61px;
        padding-top: 0px;
        .footer-form {
          margin: 25px 0px 25px 0px;
          input {
            font-size: 18px;
            line-height: 26px;
          }
        }
      }
    }
  }
}
